* {
	padding: 0;
	margin: 0;
  /* outline: auto; */
}
html {
	height: 100vh;
	width: 100vw;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		270deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 72%,
		rgba(0, 131, 0, 1) 100%
	);
}
.user-rows{
  background-color: #33333333;
  margin: 2%;
  padding: 2.5%;
  padding-top: 40%;
  border-radius: 360px;
  font-weight: bold;
  font-size: large ;
}
