.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
.App > .panel {
  width: 400px;
  border-radius: 5px;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.App > .panel > .error {
  color: red;
}
.App > .panel > .formButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.App > .panel > .formButtons > div > a > p {
  text-align: right;
}
.App > .panel > .formButtons > div:hover > a > p {
  color: blueviolet;
  transition: 250ms ease-in-out;
}
